@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(meanmenu.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/
#navbarNav {
    display: flex;
    justify-content: center;
  }
  
  .navbar-nav {
    display: flex;
    justify-content: center;
  }
  
* {
	box-sizing: border-box !important;
	transition: ease all 0.5s;
}

html {
	scroll-behavior: smooth;
}

body.studentpostpage{
	color: #666666;
	font-size: 14px;
    font-family: 'Poppins', sans-serif;
	line-height: 1.80857;
	font-weight: normal;
	overflow-x: hidden;
}

a.studentpostpage{
	color: #1f1f1f;
	text-decoration: none !important;
	outline: none !important;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

h1.studentpostpage,
h2.studentpostpage,
h3.studentpostpage,
h4.studentpostpage,
h5.studentpostpage,
h6.studentpostpage {
	letter-spacing: 0;
	font-weight: normal;
	position: relative;
	padding: 0 0 10px 0;
	font-weight: normal;
	line-height: normal;
	color: #111111;
	margin: 0
}

h1.studentpostpage{
	font-size: 24px
}

h2.studentpostpage{
	font-size: 22px
}

h3.studentpostpage{
	font-size: 18px
}

h4.studentpostpage{
	font-size: 16px
}

h5.studentpostpage{
	font-size: 14px
}

h6.studentpostpage{
	font-size: 13px
}

*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

button.studentpostpage:focus {
	outline: none;
}

ul.studentpostpage,
li.studentpostpage,
ol.studentpostpage {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

p.studentpostpage {
	margin: 20px;
	font-weight: 300;
	font-size: 15px;
	line-height: 24px;
}

a.studentpostpage {
	color: #222222;
	text-decoration: none;
	outline: none !important;
}

a.studentpostpage,
.btn {
	text-decoration: none !important;
	outline: none !important;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

img.studentpostpage {
	max-width: 100%;
	height: auto;
}

 :focus {
	outline: 0;
}

.paddind_bottom_0 {
	padding-bottom: 0 !important;
}

.btn-custom {
	margin-top: 20px;
	background-color: transparent !important;
	border: 2px solid #ddd;
	padding: 12px 40px;
	font-size: 16px;
}

.lead {
	font-size: 18px;
	line-height: 30px;
	color: #767676;
	margin: 0;
	padding: 0;
}

.form-control:focus {
	border-color: #ffffff !important;
	box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
	border: none !important;
}

.badge {
	font-weight: 500;
}

blockquote {
	margin: 20px 0 20px;
	padding: 30px;
}

button {
	border: 0;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.full {
	float: left;
	width: 100%;
}

.layout_padding {
	padding-top: 40px; /*改*/
	padding-bottom: 0px;
}

.padding_0 {
	padding: 0px;
}


/* header section start */

.teacherprofileheader_section {
    width: 100%;
    float: left;
    background-image: url(../images/banner-bg.png);
    height: 100px;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 20px 0px;
}

.teacherprofilebg-light {
	background-color: #f7f8fa !important;
	border-radius: 50px;
}

.logo {
    width: 60%;
    float: left;
    padding-top: 10px;
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: 17px;
	padding-left: 17px;
	font-size: 18px;
	margin-right: 10px;
	text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}



.nav-link {
	display: block;
	padding: 10px 20px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.padding_left_10 {
	padding-left: 15px;
}

.teacherprofilenavbar {
	padding: 0px 20px;
}

.header_social_icon {
	float: left;
	width: 100%;
}

.header_social_icon ul {
	margin: 0px;
	padding: 0px;
}

.header_social_icon li {
	float: left;
	padding: 8px;
}

.header_social_icon li a {
	color: #ff405c;
}

.button_set_head{                            /* 按鈕設定 */                          
    background-color: white; 
    color:white;
    font-weight:bold;
    font-size: 25px;
}

.button_set2_head:hover{                         /* 藍色放大 */                 
    color:black;
    transform: scale(1.2);
}

.button_fixed_head{                          /* 藍色底線 */
    border-bottom:2px solid gray;       
}


/* header section end */


/* banner section start */

.banner_section {
    width: 100%;
    float: left;
    padding-bottom: 200px;
    padding-top: 120px;
}

.banner_taital {
	width: 100%;
	font-weight: bold;
	font-size: 60px;
	color: #1c1c1c;
	text-align: center;
    font-family: 'Lato', sans-serif;
}

.banner_text {
	width: 100%;
	font-size: 16px;
	color: #2a2929;
	text-align: center;
	margin: 0 auto;
    font-family: 'Lato', sans-serif;
}

.read_bt {
	width: 200px;
	margin: 0 auto;
	text-align: center;
}
.read_bt a{
	width: 100%;
	float: left;
	text-align: center;
	padding: 10px 15px;
	color: #ffffff;
	font-size: 18px;
	background-color: #2a2a2a;
	border-radius: 40px;
	margin-top: 40px;
	text-transform: uppercase;
}
.read_bt a:hover{
	color: #2a2a2a;
	background-color: #ffffff;
}
.number_main {
    width: 100%;
    float: left;
    margin-top: 40px;
}
.number_text {
    width: 70px;
    font-size: 20px;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 100px;
    text-align: center;
    margin: 0 auto;
    padding: 15px 0px;
}
.number_text::after {
    content: '';
    position: absolute;
    width: 300px;
    height: 1px;
    background-color: #fff;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    margin-top: 17px;
}

#main_slider a.carousel-control-next {
	position: absolute;
	right: -145px;
	top: 60%;
}

#main_slider a.carousel-control-prev {
    position: absolute;
    left: -145px;
    top: 60%;
}

#main_slider .carousel-control-prev,
#main_slider .carousel-control-next {
	width: 65px;
	height: 65px;
	background: #2a2a2a;
	opacity: 1;
	font-size: 30px;
	color: #ffffff;
	border-radius: 100%;
}

#main_slider .carousel-control-prev:hover,
#main_slider .carousel-control-next:hover,
#main_slider .carousel-control-prev:focus,
#main_slider .carousel-control-next:focus {
	color: #ffffff;
}


/* banner section end */

/* about section start */

.about_section {
	width: 100%;
	float: left;
}

.about_taital_main {
    width: 100%;
    float: left;
    padding-top: 210px;
}

.about_taital {
	width: 100%;
	float: left;
	font-size: 30px;
	color: #242424;
	font-weight: bold;
}

.about_text {
	width: 100%;
	float: left;
	font-size: 16px;
	color: #444444;
	margin: 0px;
	padding-top: 20px;
}

.read_more_bt_1 {
	width: 170px;
}

.read_more_bt_1 a {
	width: 100%;
	float: left;
	font-size: 18px;
	color: #ffffff;
	background-color: #252525;
	border-radius: 6px;
	text-align: center;
	padding: 10px 15px;
	margin-top: 40px;
}

.read_more_bt_1 a:hover {
	background-color: #ff405c;
}

.about_box {
    width: 100%;
    background: linear-gradient(to bottom, transparent 20%, #fff 20%);
    padding: 25px;
    height: auto;
    filter: drop-shadow(0px 4px 15px #dedede);
}
.about_box_2 {
    width: 100%;
    background: linear-gradient(to bottom, transparent 20%, #fff 20%);
    padding: 25px;
    height: auto;
    filter: drop-shadow(0px 4px 15px #dedede);
    position: relative;
    left: -230px;
}

.image_1 {
    top: -40px;
    width: 100%;
}
.making_text {
    width: 100%;
    color: #242424;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}

/* about section end */

/* filter */
.subject_css{
    color:black;
     background-color: lightgray;
    font-size: 20px;
    position: absolute;
    left: 350px;
    

    }

.subject_content{
	color:black;

    font-size: 20px;
    position: absolute;
    left: 439px;
    
}

.gender_css{
    color:black;
     background-color: lightgray;
    font-size: 20px;
    position: absolute;
    left: 550px;
    
    }

.gender_content{
	color:black;
    font-size: 20px;
    position: absolute;
    left: 638px;
    
}

.content-container{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
}

.mbti_css{
    color:black;
     background-color: lightgray;
    font-size: 20px;
    position: absolute;
    left: 750px;
    
    }

.mbti_content{
	color:black;
    font-size: 20px;
    position: absolute;
    left: 820px;
    
}

.region_css{
    color:black;
     background-color: lightgray;
    font-size: 20px;
    position: absolute;
    left: 915px;
    
    }

.region_content{
	color:black;
    font-size: 20px;
    position: absolute;
    left: 1000px;
    
}

.filter_button{
	color:black;
    font-size: 18px;
    position: absolute;
    border: 1px solid black;
    background-color: white;
    left: 1160px;
    
}
/* filter */

/*post */
.post_div_l1{
	border: 1px black solid;
	height: 590px;
	width: 400px;
	position: relative;
	margin-top: 150px;
	margin-left: 280px;
}
.label{
	font-size: px;
}

.post_div_r1{
	border: 1px black solid;
	height: 590px;
	width: 400px;
	position: relative;
	margin-top: -0px;
	margin-left: 800px;
}


.name{
	background-color: lightyellow;
	border: 1px lightgray solid;
	position: absolute;
	margin-top: 20px;
	margin-left: 55px;
	height: 40px;
	width: 290px;
}


.subject{
	background-color: lightyellow;
	border: 1px lightgray solid;
	position: absolute;
	margin-top: 70px;
	margin-left: 55px;
	height: 40px;
	width: 290px;
}


.subject_r{
	color:black;
    font-size: 18px;
    position: absolute;
    margin-top: 10px;
    margin-left: 200px;
}

.email{
	background-color: lightyellow;
	border: 1px lightgray solid;
	position: absolute;
	margin-top: 120px;
	margin-left: 55px;
	height: 40px;
	width: 290px;
}


.email_r{
	color:black;
    font-size: 18px;
    position: absolute;
    margin-top: 10px;
    margin-left: 200px;
}

.phone{
	background-color: lightyellow;
	border: 1px lightgray solid;
	position: absolute;
	margin-top: 170px;
	margin-left: 55px;
	height: 40px;
	width: 290px;
}

.phone_r{
	color:black;
    font-size: 18px;
    position: absolute;
    margin-top: 7px;
    margin-left: 200px;
}

.gender{
	background-color: lightyellow;
	border: 1px lightgray solid;
	position: absolute;
	margin-top: 220px;
	margin-left: 55px;
	height: 40px;
	width: 290px;
}


.gender_r{
	color:black;
    font-size: 18px;
    position: absolute;
    margin-top: 10px;
    margin-left: 200px;
}
.age{
	background-color: lightyellow;
	border: 1px lightgray solid;
	position: absolute;
	margin-top: 270px;
	margin-left: 55px;
	height: 40px;
	width: 290px;
}


.age_r{
	color:black;
    font-size: 18px;
    position: absolute;
    margin-top: 10px;
    margin-left: 200px;
}
.mbti{
	background-color: lightyellow;
	border: 1px lightgray solid;
	position: absolute;
	margin-top: 320px;
	margin-left: 55px;
	height: 40px;
	width: 290px;
}


.mbti_r{
	color:black;
    font-size: 18px;
    position: absolute;
    margin-top: 10px;
    margin-left: 200px;
}
.region{
	background-color: lightyellow;
	border: 1px lightgray solid;
	position: absolute;
	margin-top: 370px;
	margin-left: 55px;
	height: 40px;
	width: 290px;
}


.region_r{
	color:black;
    font-size: 18px;
    position: absolute;
    margin-top: 10px;
    margin-left: 200px;
}
.school{
	background-color: lightyellow;
	border: 1px lightgray solid;
	position: absolute;
	margin-top: 420px;
	margin-left: 55px;
	height: 40px;
	width: 290px;
}


.school_r{
	color:black;
    font-size: 18px;
    position: absolute;
    margin-top: 10px;
    margin-left: 200px;
}
.major{
	background-color: lightyellow;
	border: 1px lightgray solid;
	position: absolute;
	margin-top: 470px;
	margin-left: 55px;
	height: 40px;
	width: 290px;
}

.major_r{
	color:black;
    font-size: 18px;
    position: absolute;
    margin-top: 10px;
    margin-left: 200px;
}
.note{
	background-color: lightyellow;
	border: 1px lightgray solid;
	position: absolute;
	margin-top: 520px;
	margin-left: 55px;
	height: 40px;
	width: 290px;
}


.note_r{
	color:black;
    font-size: 18px;
    position: absolute;
    margin-top: 10px;
    margin-left: 200px;
}

/* contact section start */





.button_set_head{                            /* 按鈕設定 */                          
    background-color: white; 
    color:white;
    font-weight:bold;
    font-size: 25px;
}

.button_set2_head:hover{                         /* 藍色放大 */                 
    color:black;
    transform: scale(1.2);
}

.button_fixed_head{                          /* 藍色底線 */
    border-bottom:2px solid gray;       
}

#dialog{
  border: none;
  box-shadow: 0 2px 6px #ccc;
  border-radius: 10px;
}
#dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.1);
}


/* contact section end */

personal_png_NCCU{
	width: 30px;
    height: 30px;
}

/* copyright section start */

.copyright_section {
	width: 100%;
	float: left;
	background-color: #171717;
}

.copyright_text {
	width: 100%;
	font-size: 18px;
	color: #ffffff;
	text-align: center;
	margin-left: 0px;

}


/* copyright section end */

.margin_bottom90{
	margin-bottom: 50px;
}

/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/

/* 新增的css */
.studentpostpagepp_post {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  width: 200%; /* Adjust the width as desired */
}

.studentpostpagepp_post_item {
  border-top: 1px solid #e0e0e0;
  padding: 5px 0;
}

.pp_post_item:first-child {
  border-top: none;
}

.pp_label {
  font-weight: bold;
  margin-right: 10px;
  display: inline-block;
  text-align: left;
}

.pp_data {
  flex: 1;
  margin: 0 10px;
  display: inline-flex;
  margin-left: 5px; /* Adjust the margin as desired */
  text-align: left;
}

.pp_post_column {
  display: flex;
  justify-content: center;
}

.text_l {
  text-align: left;
}
